* {
  box-sizing: border-box;
}
:root{
  --crl-text-darker: #2b283a;
}
body {
  margin: 0;
  background-color: #0B2434;
  font-family: 'Karla', sans-serif;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: white;
  min-height: 60vh;
  padding: 12px;
  width: min(80vw, 500px);
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.die{
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container{
  display: grid;
  gap: 10px;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
}
.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  text-align: center;
  color: darkgray;
}
.rollButton{
  position: relative;
  top: 25px;
  left: 100px;
  width: 100px;
  background-color: #5035FF;
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.time-roles{
  display: flex;
  width: 260px;
  border-radius: 5px;
  justify-content: space-between;
}
.time-roles p{
  color: #2B283A;
  padding: 5px;
}
.timeBare{
  display: flex;
  padding-top: 20px;
  justify-content: space-evenly;
  width: 200px;
  align-self: flex-end;
}
.stats-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  font-size: 1.1rem;
}
.rolls-best,
.time-best {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: var(--crl-text-darker);
}
.rolls-best > p:last-child,
.time-best > p:last-child {
  margin-block: 0.5em;
}
.gradient-text{
  /* Fallback: Set a background color. */
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer{
  position: relative;
  top: 10px;
  color: white;
}
.footer--link{
  color: aqua;
  text-decoration: none;
}